@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", sans-serif;
}

nav.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

section#home div p {
  text-align: justify;
}

section#home {
  background-image: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  height: 100%;
  padding-top: 150px;
  padding-bottom: 190px;
}

section#skill {
  background-image: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  height: 100%;
  padding-top: 70px;
  padding-bottom: 420px;
}

section#skill div .img-fluid {
  fill: black;
}

section#project {
  background-image: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  height: 100%;
  padding-top: 70px;
  padding-bottom: 250px;
}

section#project div p {
  text-align: justify;
}

section#contact {
  background-image: rgb(248, 248, 248);
  color: rgb(0, 0, 0);
  height: 100%;
  padding-top: 70px;
  padding-bottom: 130px;
}

.name h1 {
  text-transform: capitalize;
  font-family: var(--abril);
  font-size: 75px;
  color: black;
  overflow: hidden;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

#home .container .row h1 .cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

#home .container .row h1 .cursor .typing {
  animation: none;
}

#home .container .row .text span {
  color: var(--purple);
}
